extends layout

block content
  - let fishes = results
  h1= title
  div(class="container-fluid")
  div(class="row")
    each fish,index in fishes
      div(class="col-sm-2" onclick=`buy(${index})`) #{fish.Fish_Name} - #{fish.country} - #{fish.price}
  script.
    function buy(index){
      alert("You purchased item "+index)
    }
